body {
    background-color: black;
   text-align: center;
    font-family: 'Jura', sans-serif;
    
}

 

main {
    background-color: black;
    margin: auto;
   width: 750px;
    min-height: 700px;
  font-family: 'Jura', sans-serif;
    
    
}

div {
    
   
    
    border-radius: 5px;
     margin: auto; 
    padding: 20px;
   min-width:100px; 
    display:inline-block;
   margin: 10px;
    border-width: 1px;
   
    border-style: dashed;
}

p {
    font-size: 25px;
    text-align: center;
    vertical-align: middle;             
     line-height: 30px;                    
     margin: 10px;
    
   
}


.AI{
    color: black;
   border-color: black;
     border-style: dashed;
    border-width: 1px;
    display: none;
     transition: .5s ease;
    position: relative;
    z-index: 1;
    
}

.logo {
    width: 50%;
    display: block;
    opacity: 0.5;
    margin: auto;
    
    padding-left: 50px;
    cursor: pointer;
    
}

.on {
    
    opacity: 1;
    margin-bottom: -100px;
    
}

.avatar{
    width:50px;
    float: left;
    text-align: left;
    display: block;
    margin: 0;
    padding: 0;
}

.Stacy {
    border-color: orange;
    display: none;
     transition: .5s ease;
    
}



img {
    max-width: 100%;
   

    
}

.Kitties {
    float: left;
    display: inline;
    max-width: 300px;
    margin: 0;
    padding: 0;
    
    
    
    
}

button {
    border: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    background: transparent;
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    text-decoration: underline;
    
    
    
    
}

footer{
    font-size: 15px;
    color: grey;
   margin:0;
    width: 100%;
    
    
    
}

#locbutt {
    display: none;
    
    
    
}

#loginstacy {
    display: none;
    cursor: pointer;
    
    
}

#profilestacy {
    display: none;
    
}

.paw {
     height: 70px;
    
    
}

#paw1 {
   
    position: relative;
    top: 90%;
    left: -40px;
     transform: translate(-50%, -50%);
     transform: rotate(180deg);
    
}

#paw2 {
    
    position: relative;
    top: 40px;
    left: 40px;
    transform: rotate(180deg);
    
}

.pawdiv{
    display: none;
    position: relative;
    top:100px;
   z-index: 2;
    margin: 0;
    padding-bottom: 0;
    border: none;
    
    
}

.pawlink {
    height: 50px;
    display: none;
    transform: rotate(330deg);
       margin: 0;
    padding:0;
    float: right;
    opacity: 1;
    
}

.live {
    display: none;
    cursor: pointer;
    
}

#undiesimg {
    display: none;
    
}

.evil {
    display: none;
    
}

.AI img {
    opacity: 0;
    
}

#catbios {
    display: none;
}