body {
    background-color: black;
   text-align: center;
    font-family: 'Caveat', cursive;
    
}

 

main {
    background-color: black;
    margin: auto;
  
  
  font-family: 'Caveat', cursive;
   
    
}



div {
    
    
    margin: auto;
    border-radius: 5px;
     margin-left:  200px;
    margin-right: 200px;
    margin-bottom: 50px;
    padding: 20px;
   min-width:100px; 
    display: inline-block;
  
    border-width: 1px;
   opacity: 0;
    border-style: dashed;
}

header {
    font-size: 6vw;
    color: #00F7CE;
        text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "jura", sans-serif;
    
    
}

h1 {
    font-size: 2.5vw;
    color: white;
    margin: 5px;
    
    
}

h2 {
    font-size: 1.5vw;
    color: #00F7CE;
    max-width: 1000px;
    margin: auto;
    font-family: "jura", sans-serif;
    font-weight: bold;
    
}

h3 {
    font-size: 1.5vw;
    color: #00F7CE;
    max-width: 1000px;
    margin: auto;
    font-family: "jura", sans-serif;
    
    
}

p {
    font-size: 35px;
    text-align: center;
    vertical-align: middle;             
     line-height: 30px;                    
     margin: 10px;
    min-width: 250px;
   
}


.AI{
    max-width: 750px;
    color: #00F7CE;
      display: none;
     transition: .5s ease;
    position: relative;
    z-index: 1;
    opacity: 0;
    border-image-source: url(border%20blu1.png);
  border-image-slice: 40;
  border-image-width: 20;
  border-image-outset: 20;
  border-image-repeat: stretch;
    
}

.logo {
    min-width: 150px;
    display: block;
    padding: 20px;
    margin: auto;
    
    
    cursor: pointer;
    
}

.on {
   
    opacity: 1;
    margin-bottom: 10px;
    
}

.avatar{
    width:30px;
    float: left;
    text-align: left;
    display: block;
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

.Stacy {
    max-width: 750px;
    display: none;
    color: orange;
     transition: .5s ease;
    opacity: 0;
     border-image-source: url(border%20orThin.png);
  border-image-slice: 40;
  border-image-width: 20;
  border-image-outset: 20;
  border-image-repeat: round;
}



img {
    max-width: 100%;
    
    border:none;
    background-color: none;
   

    
}

.pic {
    opacity: 0;
    border: none;
    display:none;
    
}

.Kitties {
    
    
    display: inline-block;
    max-width: 300px;
    margin: 0;
    padding: 0;
    
    
    
    
}

.catpics {
    margin-bottom: 0;
    margin-top: 0;
    
    
}



button {
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    background: transparent;
    font-family: 'Caveat', cursive;
    font-size: 45px;
    text-decoration: underline;
    
    
    
    
}

footer{
    font-size: 15px;
    color: grey;
   margin:0;
  
    width: 100%;
    
    
    
}

#helpful {
     background-image: url(helpful-anim.gif);
    background-size: cover;
    margin: 0;
    padding: 0;
    background-position: center;
    border: none;
   height: 1000px;
    width: 100%;
    display: none;
    
}

.help{
    margin-top: 200px;
    background-color: black;
    border-image-outset: 10;
    box-shadow: 20px 20px 20px 20px black;
       
}


#locbutt {
    display: none;
    
    
    
}

#loginstacy {
   
    cursor: pointer;
    
    
}

#profilestacy {
    display: none;
    height: 1000px;
    width: auto;
    
}



.paw {
     height: 70px;
    display: none;
    opacity: 0;
    
}



.pawlink {
    height: 60px;
  
    transform: rotate(330deg);
       margin: 0;
    padding:0;
    float: right;
   
    
    
}

.pawbutt {
    position: relative;
    top: 180px;
    left: 20px;
    width: 100px;
    height: auto;
}

#pawbutt1 {
    position: relative;
    right: 180px;
    top: 200px;
    width: 100px;
    height: auto;
     transform: rotate(10deg);
}
#pawbutt2 {
    position: relative;
    right: 330px;
    top: 60px;
    width: 100px;
    height: auto;
    transform: rotate(30deg);
}


#live {
    display: none;
    cursor: pointer;
    
}

#undiesimg {
    display: none;
    
}

.catbutts {
    border: none;
    max-width: 1000px;
    margin: auto;
    position: relative;
    left: 100px;
}

.catbiopic {
    display: none;
   
    max-width: 1000px;
    background-color: orange;
    color: black;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 20px;
     border-image-source: url(border%20orThin.png);
  border-image-slice: 40;
  border-image-width: 20;
  border-image-outset: 12;
  border-image-repeat: round;
  
}


.catbiopic img {
    width: 50%;
    float: right;
    padding: 10px;
    margin: 0;
}

.catbiopic p {
    width: 43%;
    font-size: 40px;
    overflow: hidden;
     text-align: left;
    float: left;
   line-height: 35px;
}

.catbutt {
    width: 150px;
    margin: 0;
    padding: 0;
}



input[type="submit"]{
    width: 150px;
    height: 50px;
    margin: 20px;
    font-family: 'Caveat', cursive;
   
    font-size: 35px;
    border-image-source: url(border%20blu1.png);
  border-image-slice: 40;
  border-image-width: 20;
  border-image-outset: 10;
  border-image-repeat: round;
    background-color: #00F7CE;
    
}

.space {
    margin-top: 250px;
    margin-bottom: 250px;
    
    
}

.space2 {
   margin-top: 150px; 
    
}

#evilbg {
    background-image: url(evil-anim.gif);
    background-size: cover;
    margin: 0;
    padding: 0;
    background-position: center;
    border: none;
    height: 1000px;
        display: none;
}

.evil {
    color: red;
     background-color: rgba(0, 0, 0, 0.85);
    border-image-source: url(border%20red1.png);
    border-image-outset: 10;
    box-shadow: 20px 20px 20px 20px black;
   
}



.bg {
    display: none;
    
}

b {
    font-size: 130%;
   
   
    
}

#reload {
    position: fixed;
    width: 100px;
   left: 10px;
    margin: 20px;
    color: #00F7CE;
    display: none;
    cursor: pointer;
    z-index: 2;
    opacity: 1;
    border: none;
    
    
}

#reload p{
    position: relative;
 right: 80px;
    
}

.social {
    width: 750px;
    background-color: white;
    height: 75px;
    display: none;
    border: none;
    margin: 0;
    padding:0;
    
}

.social p {
    text-align: left;
    vertical-align: text-top;
    font-size: 20px;
    padding: 5px;
    margin-top: 0;
}

#submitbutt {
    cursor: pointer;
    margin:10px;
}

 #submitdiv {
    margin-bottom: 750px;
    
}

#catsbg {
    background-image: url(many%20kitties.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    background-position: center;
    border: none;
    height: 1000px;
        display: none;
}

.AI .catpics {
     background-color: rgba(0, 0, 0, 0.85);
    
    
    
}

@media only screen and (max-width: 500px) {
    .pic {
   width: 95%;
    
  }
 
   
  div {
    font-size: 50px;
     margin: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      max-width: 750px;
      align-content: center;
      overflow: hidden;
  }
     p {
    font-size: 50px;
    
    }
 

  .catbiopic img{
   height: 250px;
      width: auto;
    float: left;
  }

    header {
        font-size: 10vw;
    }
    h1 {
        font-size: 6vw;
    }
     h2 {
        font-size: 4vw;
    }

}

/* Desktop Styles */
@media only screen and (min-width: 2000px) {
   
    .pic {
   width: 95%;
    
  }
 
    
  div {
    
      
      margin-top: 50px;
      margin-bottom: 50px;
      max-width: 2500px;
      align-content: center;
      overflow: hidden;
      margin-left:500px;
      margin-right: 500px;
  }
   
   
   
}
